@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html.font-size-default {
  font-size: 17px !important;
}

html.font-size-medium {
  font-size: 19px !important;
}

html.font-size-large {
  font-size: 21px !important;
}

html.font-size-large * {
  font-weight: 700 !important;
}
